{
  "extends": ["taro", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-shadow": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "prefer-const": 2,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": true
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
